{% extends "base.html" %}

{% block title %}Bilans{% endblock %}


{% block body %}
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="/main/new">Web Budget</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main/income"><i class="icon-down-big"></i>Dodaj przychód</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main/expense"><i class="icon-up-big"></i> Dodaj wydatek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main/balance"><i class="icon-doc-text"></i> Przeglądaj bilans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="icon-logout"></i>Wyloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-cog"></i> Ustawienia</a>
                </li>
            </ul>
        </div>
        <div class="loginflag">{{current_user.username}}<i class="icon-user"></i></div>
    </nav>
</header>

<section>
        <div id="incomes" class="col-sm-5 col-md-5 col-lg-5">
            <table>
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Suma przychodów</th>
                    </tr>
                </thead>
                <tbody>
                    <?php 
                        echo "<tr><td>Wynagrodzenie</td><td>$inc</td></tr>
                        echo "<tr><td>Odsetki Bankowe</td><td>".$incomeSums[1]."</td></tr>
                    ?> 
                    <!--<?php if($incomeSums[1]!=0){
                        echo "<tr><td>Odsetki Bankowe</td><td>".$incomeSums[1]."</td></tr>";
                    } ?> 
                    <?php if($incomeSums[2]!=0){
                        echo "<tr><td>Sprzedaż na allegro</td><td>".$incomeSums[2]."</td></tr>";
                    } ?>
                    <?php if($incomeSums[3]!=0){
                        echo "<tr><td>Inne</td><td>".$incomeSums[3]."</td></tr>";
                    } ?>   -->                      
                </tbody>
                <tfoot>
                    <tr>
                        <th>Suma</th>
                        <th><?=$incomesSumAll[0]['sum']?></th>
                    </tr>
                </tfoot>
                
            </table>                
        </div>
        <div id="expenses" class="col-sm-5 col-md-5 col-lg-5" >
            <table>
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Suma wydatków</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<?php if($exp[0]!=0){
                        echo "<tr><td>Jedzenie</td><td>".$expSums[0]."</td></tr>";
                    } ?>
                    <?php if($expSums[1]!=0){
                        echo "<tr><td>Mieszkanie</td><td>".$expSums[1]."</td></tr>";
                    } ?>
                    <?php if($expSums[2]!=0){
                        echo "<tr><td>Transport</td><td>".$expSums[2]."</td></tr>";
                    } ?>
                    <?php if($expSums[3]!=0){
                        echo "<tr><td>Telekomunikacja</td><td>".$expSums[3]."</td></tr>";
                    } ?>
                    <?php if($expSums[4]!=0){
                        echo "<tr><td>Opieka zdrowotna</td><td>".$expSums[4]."</td></tr>";
                    } ?>
                    <?php if($expSums[5]!=0){
                        echo "<tr><td>Ubranie</td><td>".$expSums[5]."</td></tr>";
                    } ?>
                    <?php if($expSums[6]!=0){
                        echo "<tr><td>Higiena</td><td>".$expSums[6]."</td></tr>";
                    } ?>
                    <?php if($expSums[7]!=0){
                        echo "<tr><td>Dzieci</td><td>".$expSums[7]."</td></tr>";
                    } ?>
                    <?php if($expSums[8]!=0){
                        echo "<tr><td>Rozrywka</td><td>".$expSums[8]."</td></tr>";
                    } ?>
                    <?php if($expSums[9]!=0){
                        echo "<tr><td>Wycieczka</td><td>".$expSums[9]."</td></tr>";
                    } ?>
                    <?php if($expSums[10]!=0){
                        echo "<tr><td>Szkolenia</td><td>".$expSums[10]."</td></tr>";
                    } ?>
                    <?php if($expSums[11]!=0){
                        echo "<tr><td>Książki</td><td>".$expSums[11]."</td></tr>";
                    } ?>
                    <?php if($expSums[12]!=0){
                        echo "<tr><td>Oszczędności</td><td>".$expSums[12]."</td></tr>";
                    } ?>
                    <?php if($expSums[13]!=0){
                        echo "<tr><td>Na złotą jesień, czyli emeryturę</td><td>".$expSums[13]."</td></tr>";
                    } ?>
                    <?php if($expSums[14]!=0){
                        echo "<tr><td>Spłata długów</td><td>".$expSums[14]."</td></tr>";
                    } ?>
                    <?php if($expSums[15]!=0){
                        echo "<tr><td>Darowizna</td><td>".$expSums[15]."</td></tr>";
                    } ?>
                    <?php if($expSums[16]!=0){
                        echo "<tr><td>Inne wydatki</td><td>".$expSums[16]."</td></tr>";
                    } ?>   -->          
                </tbody>
                <tfoot>
                    <tr>
                        <th>Suma</th>
                        <th><?=$expSumAll[0]['sum']?></th>
                    </tr>
                </tfoot>
                
            </table>
        </div>
    </section>
    <form method="post" action="createBalance">
    <aside class="col-sm-2 col-md-2 col-lg-2 float-md-right">
        <div class="form-group">
            <label for="balanceRange">Wybierz zakres dat</label>
            <div class="input-group input-group-sm dropdown">                       
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-wallet"></i></div>
                </div>
                <select class="form-control form-control-sm" id="balanceRange" name="balance">
                    <option value="bm" selected="selected">Bieżący miesiąc</option>
                    <option value="pm">Poprzedni miesiąc</option>
                    <option value="br">Bieżący rok</option>
                    <option value="ns" class="btn btn-primary" data-toggle="modal" >Niestandardowe</option>
                </select>
                

            </div>
        </div>
       

        <div class="modal fade" id="niestandardoweModal" tabindex="-1" role="dialog" aria-labelledby="zakresDat" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="zakresDat">Wybierz zakres dat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label >Początek<input type="date" name="date_from" ></label>
                        <label >Koniec<input type="date" name="date_to" id="today"></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                       
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-block" id="showBalance" onclick="showDiv()" type="submit" >Zatwierdź</button>      
    </aside>
    </form>

{% endblock %}
