{% extends "base.html" %}

{% block title %}Bilans{% endblock %}


{% block body %}
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="/main/new">Web Budget</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main/income"><i class="icon-down-big"></i>Dodaj przychód</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main/expense"><i class="icon-up-big"></i> Dodaj wydatek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main/balance"><i class="icon-doc-text"></i> Przeglądaj bilans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="icon-logout"></i>Wyloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-cog"></i> Ustawienia</a>
                </li>
            </ul>
        </div>
        <div class="loginflag">{{current_user.username}}<i class="icon-user"></i></div>
    </nav>
</header>

<section>
        {% if incomes is empty %}
        <div class="b_line b_motivation shadow">Brak przychodów w wybranym okresie</div>
        {% endif %}
        {% if incomes is not empty %}
        <div id="incomes" class="col-sm-5 col-md-5 col-lg-5">
                <table>
                    <thead>
                        <tr>
                            <th>Kategoria</th>
                            <th>Suma przychodów</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for income in incomes %}
                                <tr><td>{{ income.cat_name }}</td><td>{{ income.sum }}</td></tr>
                            {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Suma</th>
                            <th>{{incomes_sum}}</th>
                        </tr>
                    </tfoot>
                    
                </table>                
            </div>
        {% endif %}
        {% if expenses is empty %}
        <div class="b_line b_motivation shadow">Brak wydatków w wybranym okresie</div>
        {% endif %}
        {% if expenses is not empty %}
        <div id="expenses" class="col-sm-5 col-md-5 col-lg-5" >
                <table>
                    <thead>
                        <tr>
                            <th>Kategoria</th>
                            <th>Suma wydatków</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for expense in expenses %}
                            <tr><td>{{ expense.cat_name }}</td><td>{{ expense.sum }}</td></tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Suma</th>
                            <th>{{expenses_sum}}</th>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
        {% endif %}
        
    </section>
    <form method="post" action="createBalance">
    <aside class="col-sm-2 col-md-2 col-lg-2 float-md-right">
        <div class="form-group">
            <label for="balanceRange">Wybierz zakres dat</label>
            <div class="input-group input-group-sm dropdown">                       
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-wallet"></i></div>
                </div>
                <select class="form-control form-control-sm" id="balanceRange" name="balance">
                    <option value="bm" selected="selected">Bieżący miesiąc</option>
                    <option value="pm">Poprzedni miesiąc</option>
                    <option value="br">Bieżący rok</option>
                    <option value="ns" class="btn btn-primary" data-toggle="modal" >Niestandardowe</option>
                </select>
                

            </div>
        </div>
       

        <div class="modal fade" id="niestandardoweModal" tabindex="-1" role="dialog" aria-labelledby="zakresDat" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="zakresDat">Wybierz zakres dat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label >Początek<input type="date" name="date_from" ></label>
                        <label >Koniec<input type="date" name="date_to" id="today"></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                       
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-block" id="showBalance" onclick="showDiv()" type="submit" >Zatwierdź</button>      
    </aside>
    </form>

{% endblock %}
