{% extends "authenticated.html" %}

{% block title %}Bilans{% endblock %}


{% block body %}

<section>

    {% if incomes is not empty %}
    <div id="incomes" class="col-sm-5 col-md-5 col-lg-5">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Kategoria</th>
                    <th>Suma przychodów</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                <tr>
                    {% if income.income_category_assigned_to_user_id == 0 %}
                    <td>Inne</td>
                    {% else %}
                    <td>{{ income.cat_name }}</td>
                    {% endif %}
                    <td>{{ income.sum }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Suma</th>
                    <th>{{incomes_sum}}</th>
                </tr>
            </tfoot>

        </table>
    </div>
    {% endif %}

    {% if expenses is not empty %}
    <div id="expenses" class="col-sm-5 col-md-5 col-lg-5 table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Kategoria</th>
                    <th>Suma wydatków</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    {% if expense.expense_category_assigned_to_user_id == 0 %}
                    <td>Inne</td>
                    {% else %}
                    <td>{{ expense.cat_name }}</td>
                    {% endif %}
                    <td>{{ expense.sum }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Suma</th>
                    <th>{{expenses_sum}}</th>
                </tr>
            </tfoot>

        </table>
    </div>


    {% endif %}
    <div class="col-sm-12 col-md-12 col-lg-12 d-inline-block">
        <canvas class="col-sm-5 col-md-5 col-lg-5 d-inline-block" id="myChart"></canvas>
        <canvas class="col-sm-5 col-md-5 col-lg-5 d-inline-block" id="myChart2"></canvas>
    </div>

</section>
<form method="post" action="createBalance">
    <aside class="col-sm-2 col-md-2 col-lg-2 float-md-right">
        <div class="form-group">
            <label for="balanceRange">Wybierz zakres dat</label>
            <div class="input-group input-group-sm dropdown">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-wallet"></i></div>
                </div>
                <select class="form-control form-control-sm" id="balanceRange" name="balance">
                    <option value="bm" selected="selected">Bieżący miesiąc</option>
                    <option value="pm">Poprzedni miesiąc</option>
                    <option value="br">Bieżący rok</option>
                    <option value="ns" class="btn btn-primary" data-toggle="modal">Niestandardowe</option>
                </select>


            </div>
        </div>





        <div class="modal fade" id="niestandardoweModal" tabindex="-1" role="dialog" aria-labelledby="zakresDat"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="zakresDat">Wybierz zakres dat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Początek<input type="date" name="date_from"></label>
                        <label>Koniec<input type="date" name="date_to" id="today"></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>

                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-block" id="showBalance" onclick="showDiv()" type="submit">Zatwierdź</button>
    </aside>
</form>

{% if balance is not empty %}
<div class="modal fade" id="balanceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bilans:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Twój bilans wynosi {{ balance }}.</p>
                <p>{{ infobalance }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

{% endif %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    function random_rgba() {
        var o = Math.round, r = Math.random, s = 255;
        return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + r().toFixed(1) + ')';
    }
    function set_transparency(rgba, transparency) {
        var newStr = rgba.substring(0, rgba.length - 4);
        var newRgb = newStr + transparency + ')';
        return newRgb;
    }
    //income
    var incomedata;
    var incomes_categories = [];
    var incomes_data = [];
    var incomes_color = [];
    var incomes_bordcolor = [];
    $("#incomes").find("tbody").children("tr").each(function (i, obj) {
        var incomedata = $(obj).children("td");
        incomes_categories.push(incomedata[0].innerHTML);
        incomes_data.push(incomedata[1].innerHTML);
        var colors = random_rgba();
        incomes_color.push(set_transparency(colors, 0.8));
        incomes_bordcolor.push(set_transparency(colors, 1));
    });
    //expense
    var expensedata;
    var expense_categories = [];
    var expense_data = [];
    var expense_color = [];
    var expense_bordcolor = [];
    $("#expenses").find("tbody").children("tr").each(function (i, obj) {
        var expensedata = $(obj).children("td");
        expense_categories.push(expensedata[0].innerHTML);
        expense_data.push(expensedata[1].innerHTML);
        var colors = random_rgba();
        expense_color.push(set_transparency(colors, 0.8));
        expense_bordcolor.push(set_transparency(colors, 1));
    });


    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: incomes_categories,
            datasets: [{
                label: '# incomes',
                data: incomes_data,
                backgroundColor: incomes_color,
                borderColor: incomes_bordcolor,
                borderWidth: 2
            }]
        },
        options: {
            cutoutPercentage: 30,
            responsive: true,

        }
    });
    var myChart2 = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: expense_categories,
            datasets: [{
                label: '# of Tomatoes',
                data: expense_data,
                backgroundColor: expense_color,
                borderColor: expense_bordcolor,
                borderWidth: 2
            }]
        },
        options: {
            cutoutPercentage: 30,
            responsive: true,

        }
    });
</script>

{% endblock %}