{% extends "authenticated.html" %}

{% block title %}Wydatki{% endblock %}


{% block body %}

<form method="post" action="createExpense">
    <div class="col-6 mx-auto">
        <div class="form-group">
            <label for="kwota">Podaj kwotę</label>
            <div class="alert alert-danger hidden" role="alert"></div>
            <div class="text-center">
                    <div class="spinner-border" role="status" style='display: none;'>
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-dollar"></i></div>
                </div>
                <input type="number" step="0.01" class="form-control invent" id="kwota" name="amount" placeholder="$">
            </div>
        </div>
        <div class="form-group">
            <label for="today">Data wydatku</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-calendar"></i></div>
                </div>
                <input type="date" class="form-control invent" name="date" id="today">
            </div>
        </div>
        <div class="form-group">
            <label for="sposobplatn">Sposób płatności</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-wallet"></i></div>
                </div>
                <select class="form-control" id="sposobplatn" name="payment">
                    {% for cats in pay_cat %}
                    <option value="{{cats.id}}">{{cats.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="kategoria">Kategoria</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-tag"></i></div>
                </div>
                <select class="form-control invent" id="kategoria" name="cat_expense">
                    {% for cats in expense_cat %}
                    <option value="{{cats.id}}">{{cats.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Komentarz</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-comment-empty"></i></div>
                </div>
                <input type="text" class="form-control" id="comment" name="comment">
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Zatwierdź</button>
    </div>
</form>


<script>
    $(document).ready(function () {
        $(".invent").change(function () {

            var idCat = $("#kategoria").val();
            var amount = $("#kwota").val();
            var date = $("#today").val();
            var data = {
                id: idCat,
                amount: amount,
                date_of_expense: date,
            }

            $.ajax({

                type: "POST",
                url: "/ajax/checkLimit",
                data: data,
                dataType: "json",
                beforeSend: function () {
                    $('.spinner-border').show();
                },
                success: function (json) {
                    var lim_exp = json[0];
                    var sum_exp = json[1];
                    var totalAmount = Number(amount) + Number(sum_exp);
                    var difference = totalAmount - lim_exp;
                    if (Number(lim_exp) >= totalAmount) {
                        $(".alert").addClass("hidden");
                    }
                    else if (Number(lim_exp) < totalAmount) {
                        var message = "Miesieczny limit przekroczony. Dopuszczalny limit wynosi: " + lim_exp + ". Twoja kwota: " + amount + ". Przekroczono o: " + difference + ".";
                        $(".alert").html(message);
                        $(".alert").removeClass("hidden");
                    }
                },
                complete: function () {
                    $('.spinner-border').hide();
                },
                error: function (blad) {
                    alert("errors");
                    console.log(blad);
                }
            })
        })

    })
</script>
{% endblock %}