{% extends "authenticated.html" %}

{% block title %}Wydatki{% endblock %}


{% block body %}

<form method="post" action="createExpense">
    <div class="col-6 mx-auto">
        <div class="form-group">
            <label for="kwota">Podaj kwotę</label>
            <div class="alert alert-danger hidden" role="alert">
                This is a danger alert—check it out!
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-dollar"></i></div>
                </div>
                <input type="number" step="0.01" class="form-control invent" id="kwota" name="amount" placeholder="$">
            </div>
        </div>
        <div class="form-group">
            <label for="today">Data wydatku</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-calendar"></i></div>
                </div>
                <input type="date" class="form-control" name="date" id="today">
            </div>
        </div>
        <div class="form-group">
            <label for="sposobplatn">Sposób płatności</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-wallet"></i></div>
                </div>
                <select class="form-control" id="sposobplatn" name="payment">
                    {% for cats in pay_cat %}
                    <option value="{{cats.id}}">{{cats.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="kategoria">Kategoria</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-tag"></i></div>
                </div>
                <select class="form-control invent" id="kategoria" name="cat_expense">
                    {% for cats in expense_cat %}
                    <option value="{{cats.id}}">{{cats.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Komentarz</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-comment-empty"></i></div>
                </div>
                <input type="text" class="form-control" id="comment" name="comment">
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Zatwierdź</button>
    </div>
</form>


<script>
    $(document).ready(function () {
        $(".invent").change(function () {

            var idCat = $("#kategoria").val();
            var data = {
                id: idCat,
            }

            $.ajax({
                type: "POST",
                url: "/ajax/checkLimit",
                data: data,
                dataType: "json",
                success: function (json) {
                    var lim_exp = json['limit_exp'];
                    var amount = $("#kwota").val();
                    var lim_exc = amount - lim_exp;
                    if ((lim_exc <= 0) || (lim_exp == null)) {
                        $(".alert").addClass("hidden");
                    }
                    else if (lim_exc > 0) {
                        var message = "Miesieczny limit przekroczony. Dopuszczalny limit wynosi: " + lim_exp + ". Twoja kwota: " + amount + ". Przekroczono o: " + lim_exc + ".";
                        $(".alert").html(message);
                        $(".alert").removeClass("hidden");
                    }



                },
                error: function (blad) {
                    alert("errors");
                    console.log(blad);
                }
            })
        })

    })
</script>
{% endblock %}