{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="view intro-2" style="">
        <div class="full-bg-img">
          <div class="mask rgba-purple-light flex-center">
            <div class="container text-center white-text wow fadeInUp">
              
              <br>
              <br>
              <h5>Witaj w Web Budget!</h5>
              <div class="actionpanel">
                  <a class="btn btn-primary btn-block" href="/signup/new" role="button"><i class="icon-user-plus"></i> Rejestracja</a>
                  <a class="btn btn-secondary btn-block" href="/login/new" role="button"><i class="icon-login"></i> Logowanie</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>

{% endblock %}
